<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/assets/css/httperror.css">
    <link rel="stylesheet" href="/assets/css/general.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/png">
    <title>{{errorName}}</title>
</head>
<body>
    <div class="err">
        <h4>{{errorCode}}<b class="name">{{errorName}}</b></h4>
        <h4 align="center"><a href="javascript: history.back()">Go back</a></h4>
    </div>
</body>
</html>