<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/general.css">
    <link rel="stylesheet" href="/assets/css/dash_css.css">
    <link rel="stylesheet" href="/assets/css/server.css">
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/png">
    <script>
        document.onreadystatechange = function() {
            if (document.readyState == 'complete') {
                $(".loading").fadeOut(200)
                $("body").css("overflow-y","unset")
                $("main").delay(300).css("animation", "showing 0.5s forwards ease-in-out");
                document.onreadystatechange = () => {}
            }
        };
    </script>
    <script src="/assets/js/server.js"></script>
    <script src="/assets/js/dash.js"></script>
    <title>Your servers - {{name}}</title>
</head>
<body>
    <div class="loading">
        <div class="loader"></div>
    </div>
    <div class="nav">
        <div class="name">
            {{name}}
        </div>
        <div class="items">
            <a onclick="sh()">
                <div id="menuToggle" class="it">
                    <i class="fa-solid fa-bars"></i><it>&nbsp;Hide menu</it>
                </div>
            </a>
            {% for i in list(mIt.keys()) %}
            <a href="{{mIt[i]['link']}}" {% if request.path.replace('/','') == mIt[i]['link'].replace('/','') %} class="sp" {% endif %}>
                <div class="it">
                    {{mIt[i]["icon"] | safe}}<it>&nbsp;{{i}}</it>
                </div>
            </a>
            {% endfor %}
            {% if isAdmin %}
            <a href="/admin">
                <div class="it">
                    <i class="fa-solid fa-lock"></i><it>&nbsp;Admin Panel</it>
                </div>
            </a>
            {% endif %}
        </div>
        <div class="users">
            <h5>{{user}}</h5>
            <h6>Coins: {{coin}}</h6>
        </div>
    </div>
    <div class="main">
        <main>
            <div class="title">
                <h2>Server detail</h2>
                {% if i %}
                <h4>Here is the detail info for {{i["identifier"]}}</h4>
                {% endif %}
            </div>
            {% if error!="none" and error %}
            <div class="err">
                <h3>Error:</h3>
                <h4>{{error}}</h4>
            </div>
            {% elif error=="none" %}
            <div class="done">
                <h3>Your server resources has been modified.</h3>
            </div>
            {% endif %}
            {% if i %}
            <div class="isv">
                <div class="sio">
                    <form action="edit" method="get">
                        <h2 style="overflow-x: hidden;
                                    text-overflow: ellipsis;">{{i["name"]}}</h2>
                        <h6 style="margin-bottom: 15px">{{i['identifier']}}</h6>
                        <div class="info">
                            <h4>CPU:</h4>
                            <div>
                                <input type="number" min="1" max="99999" name="cpu" value='{{i["limits"]["cpu"]}}'></input><h4>%</h4>&nbsp;
                            </div>
                        </div>
                        <div class="info">
                            <h4>Ram:</h4>
                            <div>
                                <input type="number" min="1" max="99999" name="ram" value='{{i["limits"]["memory"]}}'></input><h4>MB</h4>
                            </div>
                        </div>
                        <div class="info">
                            <h4>Disk:</h4>
                            <div>
                                <input type="number" min="1" max="99999" name="disk" inputmode="numeric" value='{{i["limits"]["disk"]}}'></input><h4>MB</h4>
                            </div>
                        </div>
                        <div class="info"><h4>Status:</h4><h4>{{i.get("status") if i.get("status") else "active"}}</h4></div>
                        <div class="btn">
                            <button type="button" class="del" onclick="del()">Delete</button>
                            <button>Update</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </main>
        <footer>
            <div class="text">
                    <h6 style="float: right; margin-top: 2px;">
                        <i class="fa-regular fa-clock"></i>
                        {{loadTime}}s
                    </h6>
                    <h5>Copyright © 2024-{{datetime.datetime.now().strftime("%Y")}} <a href="https://github.com/h3l2f/xlpanel">Xlpanel</a>.</h5>
            </div>
        </footer>
    </div>
</body>
</html>