<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <link rel="stylesheet" href="/assets/css/general.css">
    <link rel="stylesheet" href="/assets/css/register.css">
    <script src="/assets/js/signF.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/png">
    <title>Welcome to {{name}}</title>
</head>
<body>
    <main>
        <div class="main">
            <div class="form">
                <h1 align="center">Welcome to {{name}}!</h1>
                <h4 align="center">Please register to continue.</h4>
                {% if error %}
                <div class="error">
                    {{error | safe}}
                </div>
                {% endif %}
                <form method="post" name="register">
                    <div class="inp">
                        <input type="text" name="user" placeholder="Username" value="{{user}}" required>
                    </div>
                    <div class="inp">
                        <input type="email" name="email" placeholder="Email" value="{{email}}" required>
                    </div>
                    <div class="inp passwd">
                        <input type="password" name="passwd" d="i1" placeholder="Password" minlength="8" required>
                        <button type="button" onclick="passwdToggle(this, 'passwd')">
                            <i d="n" class="fa-regular fa-eye"></i>
                            <i d="f" class="fa-regular fa-eye-slash" style="display: none"></i>
                        </button>
                    </div>
                    <div class="inp passwd">
                        <input type="password" name="cpasswd" d="i2" placeholder="Confirm password" onkeyup="chEq()" minlength="8" required>
                        <button type="button" onclick="passwdToggle(this, 'cpasswd')">
                            <i d="n" class="fa-regular fa-eye"></i>
                            <i d="f" class="fa-regular fa-eye-slash" style="display: none"></i>
                        </button>
                    </div>
                    <div class="submit">
                        <input type="submit" value="Sign Up">
                        <a href="/login"><h5>login?</h5></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="img">
        </div>
    </main>
</body>
</html>