<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/general.css">
    <link rel="stylesheet" href="/assets/css/dash_css.css">
    <link rel="stylesheet" href="/assets/css/store.css">
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/png">
    <script>
        document.onreadystatechange = function() {
            if (document.readyState == 'complete') {
                $(".loading").fadeOut(200)
                $("body").css("overflow-y","unset")
                $("main").delay(300).css("animation", "showing 0.5s forwards ease-in-out");
                document.onreadystatechange = () => {}
            }
        };
    </script>
    <script src="/assets/js/store.js"></script>
    <script src="/assets/js/dash.js"></script>
    <title>Store - {{name}}</title>
</head>
<body>
    <div class="loading">
        <div class="loader"></div>
    </div>
    <div class="nav">
        <div class="name">
            {{name}}
        </div>
        <div class="items">
            <a onclick="sh()">
                <div id="menuToggle" class="it">
                    <i class="fa-solid fa-bars"></i><it>&nbsp;Hide menu</it>
                </div>
            </a>
            {% for i in list(mIt.keys()) %}
            <a href="{{mIt[i]['link']}}" {% if request.path.replace('/','') == mIt[i]['link'].replace('/','') %} class="sp" {% endif %}>
                <div class="it">
                    {{mIt[i]["icon"] | safe}}<it>&nbsp;{{i}}</it>
                </div>
            </a>
            {% endfor %}
            {% if isAdmin %}
            <a href="/admin">
                <div class="it">
                    <i class="fa-solid fa-lock"></i><it>&nbsp;Admin Panel</it>
                </div>
            </a>
            {% endif %}
        </div>
        <div class="users">
            <h5>{{user}}</h5>
            <h6>Coins: {{coin}}</h6>
        </div>
    </div>
    <div class="main">
        <main>
            <div class="title">
                <h2>Store</h2>
                <h4>You can buy anything you want here!</h4>
                <h6>Of course, server resource:)</h6>
            </div>
            {% if error!="none" and error %}
            <div class="err">
                <h3>Error on purchasing:</h3>
                <h4>{{error}}</h4>
            </div>
            {% elif error=="none" %}
            <div class="done">
                <h3>Done. Now you can use the resouces.</h3>
            </div>
            {% endif %}
            <div class="items">
                <div class="it">
                    <h3>CPU</h3>
                    <select name="cpu">
                        {% for i in range(1, 10+1) %}
                        <option value="{{i}}">
                            {{store["cpu"][1]*i}}% - {{store["cpu"][0]*i}} coin(s)
                        </option>
                        {% endfor %}
                    </select>
                    <button onclick="buy(this)">Buy</button>
                </div>
                <div class="it">
                    <h3>Ram</h3>
                    <select name="ram">
                        {% for i in range(1, 10+1) %}
                        <option value="{{i}}">
                            {{store["ram"][1]*i}}MB - {{store["ram"][0]*i}} coin(s)
                        </option>
                        {% endfor %}
                    </select>
                    <button onclick="buy(this)">Buy</button>
                </div>
                <div class="it">
                    <h3>Disk</h3>
                    <select name="disk">
                        {% for i in range(1, 10+1) %}
                        <option value="{{i}}">
                            {{store["disk"][1]*i}}MB - {{store["disk"][0]*i}} coin(s)
                        </option>
                        {% endfor %}
                    </select>
                    <button onclick="buy(this)">Buy</button>
                </div>
                <div class="it">
                    <h3>Slot</h3>
                    <select name="slot">
                        {% for i in range(1, 10+1) %}
                        <option value="{{i}}">
                            {{store["slot"][1]*i}} slot(s) - {{store["slot"][0]*i}} coin(s)
                        </option>
                        {% endfor %}
                    </select>
                    <button onclick="buy(this)">Buy</button>
                </div>
            </div>
        </main>
        <footer>
            <div class="text">
                    <h6 style="float: right; margin-top: 2px;">
                        <i class="fa-regular fa-clock"></i>
                        {{loadTime}}s
                    </h6>
                    <h5>Copyright © 2024-{{datetime.datetime.now().strftime("%Y")}} <a href="https://github.com/h3l2f/xlpanel">Xlpanel</a>.</h5>
            </div>
        </footer>
    </div>
    <form id="hehe" action="/store/buy/" style="display: none">
        <input type="text" name="item" id="sbi">
        <input type="text" name="amount" id="sba">
    </form>
</body>
</html>